<div class="alert alert-info">
–ü—Ä–∏–≤–µ—Ç, –î–º–∏—Ç—Ä–∏–π! –ú–µ–Ω—è –∑–æ–≤—É—Ç –°–≤–µ—Ç–ª–∞–Ω–∞ –∏ —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç. –ú–æ—è –æ—Å–Ω–æ–≤–Ω–∞—è —Ü–µ–ª—å ‚Äî –Ω–µ —É–∫–∞–∑–∞—Ç—å –Ω–∞ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–µ —Ç–æ–±–æ—é –æ—à–∏–±–∫–∏, –∞ –ø–æ–¥–µ–ª–∏—Ç—å—Å—è —Å–≤–æ–∏–º –æ–ø—ã—Ç–æ–º –∏ –ø–æ–º–æ—á—å —Ç–µ–±–µ. –ü—Ä–µ–¥–ª–∞–≥–∞—é –æ–±—â–∞—Ç—å—Å—è –Ω–∞ ¬´—Ç—ã¬ª. –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ —É–¥–æ–±–Ω–æ - –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø–µ—Ä–µ–π–¥–µ–º –Ω–∞ ¬´–≤—ã¬ª.

<div class="alert alert-success">
<b>üëç –£—Å–ø–µ—Ö:</b> –ó–µ–ª—ë–Ω—ã–º —Ü–≤–µ—Ç–æ–º –æ—Ç–º–µ—á–µ–Ω—ã —É–¥–∞—á–Ω—ã–µ –∏ —ç–ª–µ–≥–∞–Ω—Ç–Ω—ã–µ —Ä–µ—à–µ–Ω–∏—è, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –æ–ø–∏—Ä–∞—Ç—å—Å—è –≤ –±—É–¥—É—â–∏—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö.
</div>
<div class="alert alert-warning">
<b>ü§î –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è:</b> –ñ—ë–ª—Ç—ã–º —Ü–≤–µ—Ç–æ–º –≤—ã–¥–µ–ª–µ–Ω–æ —Ç–æ, —á—Ç–æ –≤ —Å–ª–µ–¥—É—é—â–∏–π —Ä–∞–∑ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ-–¥—Ä—É–≥–æ–º—É. –¢—ã –º–æ–∂–µ—à—å —É—á–µ—Å—Ç—å —ç—Ç–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –ø—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ –±—É–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏–π –∏–ª–∏ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–æ–µ–∫—Ç —Å–µ–π—á–∞—Å (–æ–¥–Ω–∞–∫–æ —ç—Ç–æ –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ).
</div>
<div class="alert alert-danger">
<b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –ö—Ä–∞—Å–Ω—ã–º —Ü–≤–µ—Ç–æ–º –≤—ã–¥–µ–ª–µ–Ω—ã –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –±–µ–∑ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è –∫–æ—Ç–æ—Ä—ã—Ö, —è –Ω–µ —Å–º–æ–≥—É –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç :(
</div>
<div class="alert alert-info">
<b>üëÇ –°–æ–≤–µ—Ç:</b> –ö–∞–∫–∏–µ-—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –º–∞—Ç–µ—Ä–∏–∞–ª—ã
</div>
–î–∞–≤–∞–π —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã —á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å –≤ –ø—Ä–æ–µ–∫—Ç–µ –ø–æ –º–æ–∏–º —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è–º ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º.
–ú–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:
<div class="alert alert-info"> <b>üéì –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.</div>
–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏. –í—Å—ë —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –≤—ã–ø–æ–ª–Ω–∏—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∫—É —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ –±—ã—Å—Ç—Ä–µ–µ.
 </div>

 <div class="alert alert-danger">
    <s><b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –í –ø—Ä–æ–µ–∫—Ç –Ω—É–∂–Ω–æ –¥–æ–±–∞–≤–∏—Ç—å –æ–ø–∏—Å–∞—Ç–µ–ª—å–Ω—É—é —á–∞—Å—Ç—å</s>
 </div>

<div class="alert alert-info"> <b>üéì  </b>–∏—Å–ø—Ä–∞–≤–∏–ª</div>

**–∞–Ω–∞–ª–∏–∑ –∫–Ω–∏–∂–Ω–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω–∞**

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.


–í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –í–∞—à–∞ –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö.
–í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

**–¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è** - –∏–∑—É—á–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, —Ä–µ–π—Ç–∏–Ω–≥–∞—Ö –∏ –æ–±–∑–æ—Ä–∞—Ö –∏ –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ –≤–æ–ø—Ä–æ—Å—ã

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import text, create_engine
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas
query = '''SELECT * FROM books LIMIT 5'''
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [2]:
# —Å–ø–∏—Å–æ–∫ —Ç–∞–±–ª–∏—Ü
tables = ['books', 'authors', 'publishers', 'ratings', 'reviews']

#–ø—Ä–æ—Å–º–æ—Ç—Ä —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö
for table in tables:
    query = f"SELECT * FROM {table} LIMIT 0"
    df = pd.io.sql.read_sql(sql=text(query), con = con)
    print(f"Columns in {table} table:")
    display(df.dtypes)

Columns in books table:

book_id             object
author_id           object
title               object
num_pages           object
publication_date    object
publisher_id        object
dtype: object

Columns in authors table:

author_id    object
author       object
dtype: object

Columns in publishers table:

publisher_id    object
publisher       object
dtype: object

Columns in ratings table:

rating_id    object
book_id      object
username     object
rating       object
dtype: object

Columns in reviews table:

review_id    object
book_id      object
username     object
text         object
dtype: object

In [3]:

for table in tables:
    query = f"SELECT * FROM {table}"
    df = pd.io.sql.read_sql(sql=text(query), con = con)

    print(f"Data in {table} table:")
    display(df.head())

Data in books table:

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

Data in authors table:

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

Data in publishers table:

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

Data in ratings table:

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

Data in reviews table:

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –ò–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω—ã –≤—Å–µ –Ω—É–∂–Ω—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏, —Å–æ–∑–¥–∞–Ω–æ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –ë–î
 </div>

 <div class="alert alert-danger">
    <s> <b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –ü–µ—Ä–µ–¥ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ–º –∑–∞–¥–∞–Ω–∏–π –Ω—É–∂–Ω–æ –æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è —Å —Ç–∞–±–ª–∏—Ü–∞–º–∏ –ë–î</s>
 </div>

<div class="alert alert-info"> <b>üéì  </b>–∏—Å–ø—Ä–∞–≤–∏–ª</div>

In [4]:
# —Å–æ–∑–¥–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è SQL-–∑–∞–ø—Ä–æ—Å–æ–≤
def execute_query(query):
    return pd.io.sql.read_sql(sql=text(query), con=engine.connect())

# –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞
query = '''SELECT COUNT(*) FROM books WHERE publication_date > '2000-01-01';'''
display(execute_query(query))

   count
0    819

–ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –±—ã–ª–æ –≤–ø—É—à–µ–Ω–Ω–æ 819 –∫–Ω–∏–≥

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

–°–Ω–∞—á–∞–ª–∞ –∫–æ–¥ –Ω–µ —Ä–∞–±–æ—Ç–∞–ª –∏ —è –ø—Ä–æ–ø–∏—Å–∞–ª —Ñ—É–Ω–∫—Ü–∏—é –≤ –∫–∞–∂–¥–æ–º –±–ª–æ–∫–µ –∫–æ–¥–∞, –Ω–æ –ø–æ—Ç–æ–º –±–µ–∑ —ç—Ç–æ–≥–æ –∑–∞—Ä–∞–±–æ—Ç–∞–ª–æ, –µ—Å–ª–∏ —á—Ç–æ –º–æ–∂–Ω–æ —Ä–∞—Å–∫–æ–º–µ–Ω—Ç–∏—Ä–æ–≤–∞—Ç—å

In [5]:
# –∫–æ–ª–ª–∏—á–µ—Å—Ç–≤–æ –∏ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ 
# def execute_query(query):
#     return pd.io.sql.read_sql(sql=text(query), con=engine.connect())

query = '''
SELECT 
    books.book_id,
    books.title, 
    COUNT(DISTINCT review_id) as review_count, 
    AVG(rating) as avg_rating
FROM 
    books 
LEFT JOIN reviews ON books.book_id = reviews.book_id
LEFT JOIN ratings ON books.book_id = ratings.book_id
GROUP BY 
    books.book_id,
    books.title
'''

display(execute_query(query))

,book_id,title,review_count,avg_rating
0,1,'Salem's Lot,2,3.666667
1,2,1 000 Places to See Before You Die,1,2.500000
2,3,13 Little Blue Envelopes (Little Blue Envelope...,3,4.666667
3,4,1491: New Revelations of the Americas Before C...,2,4.500000
4,5,1776,4,4.000000
...,...,...,...,...
995,996,Wyrd Sisters (Discworld #6; Witches #2),3,3.666667
996,997,Xenocide (Ender's Saga #3),3,3.400000
997,998,Year of Wonders,4,3.200000
998,999,You Suck (A Love Story #2),2,4.500000
999,1000,Zen and the Art of Motorcycle Maintenance: An ...,4,3.833333

 <div class="alert alert-danger">
 <s><b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –ù–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏ –Ω–µ —É–Ω–∏–∫–∞–ª—å–Ω—ã–π –ø—Ä–∏–∑–Ω–∞–∫, —Ç–æ–ª—å–∫–æ –ø–æ –Ω–µ–º—É –Ω–µ –Ω—É–∂–Ω–æ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å, –∑–¥–µ—Å—å –Ω—É–∂–Ω–æ –¥–æ–±–∞–∏—Ç—å –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫—É –µ—â–µ –∏ –ø–æ book_id</s>
 </div>

<div class="alert alert-info"> <b>üéì  :</b> –∏—Å–ø—Ä–∞–≤–∏–ª</div>

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

—Ç–∞–±–ª–∏—Ü–∞ —Å–æ —Å—Ä–µ–¥–Ω–∏–º–∏ –æ—Ü–µ–Ω–∫–∞–º–∏ –∫–Ω–∏–Ω

In [6]:
# def execute_query(query):
#     return pd.io.sql.read_sql(sql=text(query), con=engine.connect())


# –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü
query = '''
SELECT 
    publishers.publisher, 
    COUNT(books.book_id) as book_count
FROM 
    books 
INNER JOIN publishers ON books.publisher_id = publishers.publisher_id
WHERE 
    books.num_pages > 50
GROUP BY 
    publishers.publisher
ORDER BY 
    book_count DESC
LIMIT 1
'''
display(execute_query(query))

       publisher  book_count
0  Penguin Books          42

–∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books –≤—ã–ø–æ—Å—Ç–∏–ª–æ 42 –∫–∏–≥–∏ –±–æ–ª–µ–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

In [7]:
# def execute_query(query):
#     return pd.io.sql.read_sql(sql=text(query), con=engine.connect())

# –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏
query = '''
SELECT 
    authors.author, 
    AVG(avg_book_rating) as avg_author_rating
FROM 
    (SELECT 
        books.author_id, 
        AVG(ratings.rating) as avg_book_rating
    FROM 
        books 
    INNER JOIN ratings ON books.book_id = ratings.book_id
    GROUP BY 
        books.book_id
    HAVING 
        COUNT(ratings.rating) >= 50) as subquery
INNER JOIN authors ON subquery.author_id = authors.author_id
GROUP BY 
    authors.author
ORDER BY 
    avg_author_rating DESC
LIMIT 1
'''
display(execute_query(query))

                       author  avg_author_rating
0  J.K. Rowling/Mary GrandPr√©           4.283844

–∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–µ–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π 4.28 J.K. Rowling/Mary GrandPr√©

 <div class="alert alert-danger">
<s> <b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –ü–æ–ª—É—á–∏–ª–æ—Å—å –Ω–µ —Å–æ–≤—Å–µ–º –≤–µ—Ä–Ω–æ, —Ñ–∏–ª—å—Ç—Ä HAVING –ø—Ä–∏–∑–≤–∞–Ω –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –∫–Ω–∏–≥–∏ —Å –æ—Ü–µ–Ω–∫–∞–º–∏ 50 –∏ –±–æ–ª–µ–µ, –∞ –¥–∞–Ω–Ω—ã–µ —Ç—ã –≥—Ä—É–ø–ø–∏—Ä—É–µ—à—å –ø–æ –∞–≤—Ç–æ—Ä—É. –í –∏—Ç–æ–≥–µ —Ñ–∏–ª—å—Ç—Ä —Ñ–∏–ª—å—Ç—Ä—É–µ—Ç –Ω–µ –∫–Ω–∏–≥–∏, –∞ –∞–≤—Ç–æ—Ä–æ–≤, –∏ –≤ —Ç–∞–∫–æ–π –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–µ –ø–æ—á—Ç–∏ —É –∫–∞–∂–¥–æ–≥–æ –∞–≤—Ç–æ—Ä–∞ –±—É–¥–µ—Ç 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫, –ø–æ—ç—Ç–æ–º—É —Ä–µ–π—Ç–∏–Ω–≥ –±—É–¥–µ—Ç —Ä–∞—Å—Å—á–∏—Ç–∞–Ω –Ω–µ–≤–µ—Ä–Ω–æ - –≤ –Ω–µ–≥–æ –ø–æ–ø–∞–¥—É—Ç –ª–∏—à–Ω–∏–µ –∫–Ω–∏–≥–∏, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –ø—Ä–æ—Ö–æ–¥—è—Ç –ø–æ —É—Å–ª–æ–≤–∏—é —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ü–µ–Ω–æ–∫</s>
 </div>

<div class="alert alert-info"> <b>üéì </b> –∏—Å–ø—Ä–∞–≤–∏–ª</div>

 <div class="alert alert-danger">
<s> <b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å V2:</b> –ü–æ—á—Ç–∏, –Ω–æ –Ω–µ —Ö–≤–∞—Ç–∞–µ—Ç –µ—â–µ –æ–¥–Ω–æ–≥–æ —à–∞–≥–∞. –°–µ–π—á–∞—Å —Ç—ã –Ω–∞—à–µ–ª —Å–ø–∏—Å–æ–∫ –∞–≤—Ç–æ—Ä-–∫–Ω–∏–≥–∞, —Ç–µ–ø–µ—Ä—å –Ω—É–∂–Ω–æ –µ—â–µ —Ä–∞–∑ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å –ø–æ –∞–≤—Ç–æ—Ä—É –∏ –Ω–∞–π—Ç–∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É –æ—Ç —Å—Ä–µ–¥–Ω–µ–π –ø–æ –∫–Ω–∏–≥–∞–º –∞–≤—Ç–æ—Ä–∞</s>
 </div>

<div class="alert alert-info"> <b>üéì </b> –∏—Å–ø—Ä–∞–≤–∏–ª</div>

<div class="alert alert-success">
<b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
</div>

In [8]:
# def execute_query(query):
#     return pd.io.sql.read_sql(sql=text(query), con=engine.connect())
# –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫
query = '''
SELECT 
    AVG(review_count) as avg_review_count
FROM 
    (SELECT 
        username, 
        COUNT(review_id) as review_count
    FROM 
        reviews 
    WHERE 
        username IN (SELECT 
                        username 
                     FROM 
                        ratings 
                     GROUP BY 
                        username 
                     HAVING 
                        COUNT(rating_id) > 48)
    GROUP BY 
        username) as subquery
'''
display(execute_query(query))

   avg_review_count
0              24.0

—Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫ 24

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

In [9]:

#def execute_query(query):
    #return pd.io.sql.read_sql(sql=text(query), con=engine.connect())
# –ø–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å—Ç—Ä–æ–∫ –≤ –∫–∞–∂–¥–æ–π —Ç–∞–±–ª–∏—Ü–µ
for table in tables:
    query = f'SELECT COUNT(*) FROM {table};'
    result = execute_query(query)
    print(f'–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ {table}: {result.values}')

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ books: [[1000]]
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ authors: [[636]]
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ publishers: [[340]]
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ ratings: [[6456]]
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ reviews: [[2793]]

**–í—ã–≤–æ–¥**


–° 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –±—ã–ª–æ –≤—ã–ø—É—â–µ–Ω–æ 819 –∫–Ω–∏–≥. –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books –≤—ã–ø—É—Å—Ç–∏–ª–æ 42 –∫–Ω–∏–≥–∏, –∫–∞–∂–¥–∞—è –∏–∑ –∫–æ—Ç–æ—Ä—ã—Ö —Å–æ–¥–µ—Ä–∂–∏—Ç –±–æ–ª–µ–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü. –ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π 4.28 - —ç—Ç–æ Rowling/Mary GrandPr√© –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫, —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 24

–∫–æ–ª–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ 
- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ –∫–Ω–∏–≥: **1000**
- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ –∞–≤—Ç–æ—Ä–æ–≤: **636**
- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ –∏–∑–¥–∞—Ç–µ–ª–µ–π: **340**
- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ —Ä–µ–π—Ç–∏–Ω–≥–æ–≤: **6456**
- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ –æ–±–∑–æ—Ä–æ–≤: **2793**

<div class="alert alert-success">
<b>üëç –£—Å–ø–µ—Ö:</b> –•–æ—Ä–æ—à–∞—è —Ä–∞–±–æ—Ç–∞, –ø–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –æ–∫–æ–Ω—á–∞–Ω–∏–µ–º –∫—É—Ä—Å–∞! –†–µ–∫–æ–º–µ–Ω–¥—É—é –µ—â–µ –ø—Ä–æ–π—Ç–∏ –±–µ—Å–ø–ª–∞—Ç–Ω—ã–π –∫—É—Ä—Å –æ—Ç –ø—Ä–∞–∫—Ç–∏–∫—É–º–∞ –ø–æ <a href='https://practicum.yandex.ru/ycloud-datalens/'> DataLens</a>
   –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –ø–æ SQL  –º–æ–∂–Ω–æ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å –∏ –ø–æ—Ç—Ä–µ–Ω–∏—Ä–æ–≤–∞—Ç—å—Å—è <a href='https://sql-ex.ru'> –∑–¥–µ—Å—å</a>, <a href='https://pgexercises.com'> –∑–¥–µ—Å—å</a>, <a href='https://sql-academy.org'> –∑–¥–µ—Å—å</a>, <a href='https://stepik.org/course/63054/info'> –∑–¥–µ—Å—å</a>, <a href='https://Itresume.ru'> –∑–¥–µ—Å—å</a>
</div>